<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Liver Patient Analysis</title>
<link href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body style="background-color:#D5F5E3">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<center>
<form action = "http://localhost:5000/login" method = "post">
<nav class="navbar navbar-dark bg-dark">
<h1>  <p style="color:white">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                                                      Liver Patient Analysis</p></h1>\

</nav>

<center><h4>Enter the details below (of the respective patient)</h4></center>
<br>
<p> Age &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type = "text" name = "Age"/></p>
<br>

<p> Gender &nbsp;&nbsp;&nbsp;
<input type = "text" name = "Gender"/></p>
<br>

<p> Total_Bilirubin&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type = "text" name = "Total_Bilirubin"/></p>
<br>

<p> Alkaline_Phosphotase &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type = "text" name = "Alkaline_Phosphotase"/></p>
<br>

<p> Alamine_Aminotransferase &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type = "text" name = "Alamine_Aminotransferase"/></p>
<br>

<p> Aspartate_Aminotransferase &nbsp;&nbsp;&nbsp;&nbsp;
<input type = "text" name = "Aspartate_Aminotransferase"/></p>
<br>

<p> Total_Protiens &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type = "text" name = "Total_Protiens"/></p>
<br>

<p> Albumin	Albumin_and_Globulin_Ratio &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type = "text" name = "Albumin_and_Globulin_Ratio"/></p>
<br>

<input type = "submit" value ="SEND">
</form>

<b>{{showcase}}</b>
</center>
</body>
</html>
